@model List<TechWebsite.Models.Photo>
@{
    ViewData["Title"] = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}


<style>
    a:hover {
        color: #ff0000;
    }

    a.add {
        color: #ffffff;
        padding: 10px;
        background: #0094ff;
    }

        a.add:hover {
            opacity: 0.7;
        }
</style>
<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
        <div class="container-fluid">
            <div class="row mb-2">
                <div class="col-sm-6">
                    <h1>Photo List</h1>
                </div>
                <div class="col-sm-6">
                    <ol class="breadcrumb float-sm-right">
                        <li class="breadcrumb-item"><a href="#">Home</a></li>
                        <li class="breadcrumb-item active">Photos</li>
                    </ol>
                </div>
            </div>
        </div><!-- /.container-fluid -->
    </section>
    <!-- Main content -->
    <section class="content">
        <div class="container-fluid">
            <div class="row">
                <div class="col-12">
                    <div class="card">
                        <div class="card-header">
                            <a class="add" asp-area="admin" asp-controller="photo" asp-action="add">Add New Photo</a>
                        </div>
                        <!-- /.card-header -->
                        <div class="card-body">
                            <table id="example2" class="table table-bordered table-hover">
                                <thead>
                                    <tr>
                                        <th>Id</th>
                                        <th>Name</th>
                                        <th>Status</th>
                                        <th>Featured</th>
                                        <th>Product</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (var photo in Model)
                                    {
                                        <tr>
                                            <td>@photo.Id</td>
                                            <td><img src="~/products/@photo.Name" width="120" /></td>
                                            <td>@(photo.Status ? "show" : "hide") </td>
                                            <td>@(photo.Featured ? "show" : "hide") </td>
                                            <td>
                                                <a asp-area="admin" asp-controller="photo" asp-action="edit" asp-route-id="@photo.Id"
                                                   asp-route-productId="@photo.ProductId">
                                                    Edit
                                                </a><span> | </span>

                                                <a asp-area="admin" asp-controller="photo" asp-action="delete" asp-route-id="@photo.Id"
                                                   asp-route-productId="@photo.ProductId"
                                                   onclick="return confirm('Are you sure?')">Delete</a>
                                            </td>
                                        </tr>
                                    }
                                </tbody>
                            </table>
                        </div>
                        <!-- /.card-body -->
                    </div>
                </div>
            </div>
        </div>
    </section>
    <div style="display:flex;justify-content:flex-end; margin-right:50px;">
        <a href="@Url.Action("index","product")">Back to List Product</a>
    </div>
</div>
